* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    width: 0;
}

.offer_bar {
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 5px;
    text-align: center;
    font-size: 1.5vw;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

/* Main Navigation Bar*/

.navbar {
    display: flex;
    justify-content: space-between;
    color: #1D232C;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
}

.navbar_links {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.navbar_links a {
    text-decoration: none;
    color: #1D232C;
}

.navbar_links a:hover {
    text-decoration: underline;
    color: #1D232C;
}

.navbar_search {
    border: solid #1D232C 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 95%;
}

.navbar_search input {
    border: none;
    width: 100%;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.navbar_menu {
    display: none;
}

@media screen and (max-width:900px) {

    .navbar_menu {
        display: block;
    }

    .navbar_links {
        display: none;
    }

}

/* Side Navbar */

.side_navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #1D232C;
    color: #E2E1E1;
    margin-left: -60%;
    transition-duration: 1s;
    z-index: 10;
    padding: 20px;
}

.side_navbar_link {
    margin-bottom: 30px;
}

.side_navbar_links a {
    text-decoration: none;
    color: #E2E1E1;
}

.side_navbar_links a:hover {
    text-decoration: underline;
    color: #E2E1E1;
}

.side_navbar_search {
    border: solid #E2E1E1 1px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.side_navbar_search input {
    border: none;
    background: transparent;
}

/*Slider*/

.slider {
    overflow: hidden;
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 5px;
}

.slider_image_container {
    display: flex;
    transition: 2s;
}

.slider_image {
    width: 100vw;
}

.slider_left_button {
    position: absolute;
    top: 35%;
    left: 5%;
    z-index: 1;
}

.slider_left_button i {
    font-size: 10vw;
}

.slider_right_button {
    position: absolute;
    top: 35%;
    right: 5%;
}

.slider_right_button i {
    font-size: 10vw;
}

.slider_content {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
}

.slider_content h1 {
    font-size: 5vw;
}

.slider_content button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #1D232C;
}

/* Brands*/

.brands {
    display: flex;
    margin-top: 2vw;
    justify-content: space-between;
}

.brands_icon {
    width: 4vw;
    align-items: center;
}

.brands_item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}

.service_container_1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vw;
}

.service_container_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1vw;
}

.service_container_2 div {
    border-radius: 5px;
    background-color: #F2F4F7;
    padding: 10px;
}

.new_arrival {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.new_arrival_container {
    position: relative;
}

.new_arrival_container img {
    border-radius: 2%;
}

.overlay {
    border-radius: 2%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0;
    opacity: 0.6;
}

.new_arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;
    position: absolute;
    border: none;
    top: 50%;
    left: 18%;
    z-index: 2;
}

.most_wanted {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    overflow-x: scroll;
    gap: 20px;
}

.most_wanted_container {
    position: relative;
}

.most_wanted img {
    border-radius: 2%;
}

.sale_overlay {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 2vw;
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}

.most_wanted::-webkit-scrollbar {
    appearance: none;
}

.like_button {
    position: absolute;
    width: 15%;
    bottom: 12%;
    right: 5%;
}

.limited_offer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D232C;
    color: #E2E1E1;
    padding: 20px;
    font-size: 2vw;
}

.limited_offer img {
    width: 100%;
    height: 100%100%;
}

.limited_offer_text {
    padding: 5%;
}

.limited_offer button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;
    border: none;
}

/* Scroll Animation */

.initial_scroll {
    transition: 3s;
}

.reveal_scroll {
    opacity: 0;
}

.news {
    font-size: 2vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid #1D232C 3px;
}

.news input:focus {
    outline: none;
}

.news button {
    margin-top: 10px;
    font-size: 1.8vw;
    color: #E2E1E1;
    background-color: #1D232C;
    border-radius: 10px;
    border: none;
    padding: 10px
}

.icon {
    width: 40px;
    margin: 2vw;
}

.footer {
    font-size: 2vw;
    margin-top: 5vw;
    padding: 40px;
    background-color: #1D232C;
    color: #E2E1E1;
    box-sizing: border-box;
}

.footer_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer_box_1 {
    display: flex;
    flex-direction: column;
}

.footer_box_2 {
    display: flex;
}

/* Collections */

.divide_section {
    display: flex;
}

.filter_section {
    flex-basis: 25%;
    position: relative;
    font-size: 2vw;
}

.product_section {
    flex-basis: 75%;
    position: relative;
}

.vertical_line {
    border: none;
    border-left: 3px solid #1D232C;
    height: 100%;
    margin: 0 20px;
    position: absolute;
    top: 0px;
    right: 0px
}

.filter_section_price,
.filter_section_arrivals,
.filter_section_occasion,
.filter_section_colors {
    margin-top: 3vw;
    margin-bottom: 10px;
}

.product_section {
    padding: 10px;
}

.products {
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vw;
}

.contact_form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
}

.contact_form h2 {
    margin-bottom: 1vw;
}

.contact_form label {
    display: block;
    margin-bottom: 1vw;
}

.contact_form input,
.contact_form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
}

.contact_form textarea {
    resize: vertical;
    height: 10vh;
    border: none;
}

.contact_form button {
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
}

.contact_form button:hover {
    background-color: #0056b3;
}